= form_tag hats_path, :method => 'get', id: 'search', class: "form-search" do 
  = text_field_tag :search, params[:search], class: "span3"
  = submit_tag 'Search', class: 'btn'

  .row
    = render "/shared/sidebar"

    .span8
      = paginate @hats
      = render @hats